# Archivos de Python
__pycache__/
*.py[cod]

# Configuración de entorno virtual
enviroment/

# Archivos de Django
db.sqlite3
*.log

# Archivos de VS Code
.vscode/

# Dependencias instaladas
*.egg-info/
